@import './components/_all.scss';

body{
    background: rgb(212, 235, 248);
}

.wrapper{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}


@media screen and (max-width: 480px) {
    .add{
        &__container{
            flex-wrap:wrap
        }
    }
    .edit{
        &__container{
            flex-wrap:wrap
        }
    }
    .group{
        &__buttons{
            display: block;
            &__edit{
                width: 260px;
            }
        }
    }
    .list{
        h1{
            font-size: 15px;
        }
        button{
            padding: 5px;
        }
    }
}


.edit{
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 20px 40px 20px;
        &__input{
            padding: 10px 0 10px 5px;
            border: 1px solid transparent;
        }
        &__button{
            height: 40px;
            border: 1px solid transparent;
            color: white;
            background: rgb(117, 47, 0);
            cursor: pointer;
        }
    }
}


.add{
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 20px 40px 20px;
        &__input{
            padding: 10px 0 10px 5px;
            border: 1px solid transparent;
        }
        &__button{
            height: 40px;
            border: 1px solid transparent;
            color: white;
            background: rgb(0, 102, 14);
            cursor: pointer;
            border-radius: 10px;
        }
    }
}